body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.grey {
    color: grey;
}
a {
    text-decoration: none;
}
.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

/**/
.intro-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
}
.video-media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.intro {
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.container-photo-planet-and-intro {
    justify-content: center;
}
.container-main-photo {
    width: 200px;
    margin: 0 auto;
}
.main-photo {
    display: block;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.intro-name {
    text-align: center;
    color: grey;
    font-size: 20px;
    opacity: 0.8;
    font-weight: 100;
}
.photo-planet {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.container-photo-planet {
    width: 70px;
}
.container-intro-name {
    margin: auto 0;
}
.name {
    color: white;
    text-align: center;
    font-weight: 500;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.btn {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 50px;
    border: rgb(255 255 255 / .4) 1px solid;
    outline: none;
    cursor: pointer;
}
/*
.tor {
    position: absolute;
    display: block;
    max-width: 150px;
    width: 100%;
    object-fit: cover;
    top: 285px;
    animation-name: tor;
    animation-duration: 2s;
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.lightning {
    top: -100px;
    left: -35px;
    position: absolute;
    display: block;
    max-width: 350px;
    width: 100%;
    object-fit: cover;

    animation-name: lightning;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;

}



@keyframes tor {
    0%{
        transform: translate(1000px) rotate(-80deg);
    }
    80% {
        transform: rotate(-80deg);
    }
    100%{
        transform: translate(0px) rotate(0deg);
    }
}
@keyframes lightning {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    85%{
          opacity: 0;
      }
    90%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

 */