body {
    margin: 0;
    padding: 0;
    background: coral;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
/* Header */

.modal__windowForm {
    margin: 50px auto 0;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container__form {
    background: lightgray;
    padding: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}
.form {
    display: flex;
    flex-direction: column;
}
.form input {
    border: none;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
    font-size: 17px;
}
.form button {
    color: white;
    background-color: mediumseagreen;
    padding: 15px 0 ;
    border: none;
    border-bottom: 5px solid darkgreen;
    margin-bottom: 30px;
    font-size: 17px;
}
h3 {
    font-weight: 300;
    color: white;
    margin: 15px 0;
}
.media__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.btn {
    width: 49%;
    color: white;
    padding: 15px 0 ;
    font-size: 17px;
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}
.btn:nth-of-type(1) {
    background-color: #3f63ab;
}
.btn:nth-of-type(2) {
    background-color: #2aa3f1;
}
span {
    font-weight: 900;
}