body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 834px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
.customers-reviews {
    margin: 50px 0;
}
.reviews__item {
    display: flex;
}

.customer__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.customer {
    display: flex;
    align-items: center;
}
.customer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.first-last-name {
    font-size: 22px;
    font-weight: 500;
}
.data {
    margin-bottom: 10px;
}
.customers-reviews {
    padding: 50px 0;
    background: lightgray;
}
.review {
    max-width: 492px;
    width: 100%;
    /*background: #add9e6;*/
    margin: 0 20px;
}
.pink {
    background: #ffb7c1;
    padding: 25px;
    border-radius: 20px 20px 20px 0;
}
.blue {
    background: #add9e6;
    padding: 25px;
    border-radius: 20px 20px 0 20px;
}
.reviews__item_right {
    display: flex;
    flex-direction: row-reverse;
}
.customer_right {
    flex-direction: row-reverse;
}
.customer__info_right {
    align-items: flex-start;
}
.reviews__item:not(:last-of-type) {
    margin-bottom: 10px;
}