body {
    text-align: center;
}
.button {
    margin-top: 100px;
    cursor: pointer;
    padding: 30px 100px;
    background: #00cedf;

   /*1*/ transition-property: background-color, padding; /* Меняет 2 секунды только background-color, все остальное меняет за сразу */
   /*2*/ transition-duration: 1s, 1s; /* */
   /*3*/ transition-timing-function: linear; /* cubic-bezier() */
   /*4*/ transition-delay: 3s, 0s;/* Делает задержку */
}
.button:hover {
    background: #82e7a1;
    padding: 50px 200px;
}
.content_circle {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    border-radius: 50%;
    position: relative;
    left: 0;

    animation-name: green-circle;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0,0,1,1);
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-fill-mode: forwards; /**/
}
.content_circle:hover {
    animation-play-state: paused;
}
@keyframes green-circle {
    0%{
        left: 0;
    }
    50% {
        border-radius: 0;
    }
    100%{
        left: 500px;
    }
}