body {
    margin: 0;
    padding: 0;
    background: lightgreen;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
.container {
    max-width:700px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
/**/
.header {
    margin-top: 50px;
}
.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
}
.main-title-text {
    padding: 25px 0;
}
.yellow {
    background-color: #fbfad3;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-images {
    display: block;
    width: 125px;
    max-width: 100%;
    object-fit: contain;
}
.flex-images-small {
    width: 85px;
    max-width: 100%;
}
.pencil {
    max-width: 90px;
    width: 100%;
    display: block;
    transform: rotate(90deg);
    margin: 0 auto;
}



.flex-images:nth-child(1) {
    animation-name: animation-school-subjects-calc;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}
.flex-images:nth-child(2) {
    animation-name: animation-school-subjects-book;
    animation-duration: 2s;
}
.flex-images:nth-child(3) {
    animation-name: animation-school-subjects-paper;
    animation-duration: 3s;
}
.flex-images:nth-child(4) {
    animation-name: animation-school-subjects-pallete;
    animation-duration: 3.5s;
}
.flex-images {
    animation-timing-function:linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animation-school-subjects-calc {
    0%{
        transform: translate(-1000px) rotate(-1000deg);
    }
    100%{
        transform: translate(1px, 40px) rotate(-30deg);
    }
}

@keyframes animation-school-subjects-book {
    0%{
        transform: translate(-10px, -1000px) rotate(-1000deg);
    }
    100%{
        transform: translate(-10px) rotate(-20deg);
    }
}
@keyframes animation-school-subjects-paper {
    0%{
        transform: translate(10px, -1000px) rotate(-1000deg);
    }
    100%{
        transform: translate(10px) rotate(20deg);
    }
}
@keyframes animation-school-subjects-pallete {
    0%{
        transform: translate(1000px) rotate(-1000deg);
    }
    100%{
        transform: translate(1px, 40px) rotate(30deg);
    }
}


