body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.btn {
    cursor: pointer;
    padding: 7px 20px;
    text-transform: uppercase;
    color: grey;
    border-radius: 7px;
    border: 1px solid grey;
    transition: 1s;
    background: white;
}
.btn:hover {
    transition: 1s;
    color: black;
    border: 1px solid black;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
/**/
.mainCalk {
    max-width: 200px;
    width: 100%;
    background-color: black;
    padding: 10px;
}
.textCalk {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.calk {
    max-width: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-gap: 5px;



}
.calkItem__text {
    padding: 11px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 1s;

}
.calkItem__text:hover {
    background-color: green;
    transition: 1s;
}
.calkItem:nth-of-type(14) {
    grid-column: 2/4;
}
.calkItem {
    border: 1px solid orange;
    font-size: 15px;
}