body {
    margin: 0;
    padding: 0;
    background: white;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.cat {
    margin: 20px 0;
    color: rgba(0, 1, 1, 0.5);
}
.images {
    float: right;
    max-width: 32%;
    width: 100%;
}
.margin__p {
    width: 61%;
    color: rgba(0, 1, 1, 0.5);
}
.margin__p:nth-of-type(1) {
    margin-bottom: 50px;
}
.margin__p:nth-of-type(3) {
    margin: 20px 0 40px 0;
}

.container__img {
    background: #37506d;
    border-radius: 15px;
}
.container__img:first-child {
    margin-bottom: 20px;
}
.img__cat {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.background__color {
    background: lightyellow;
    padding: 25px;
    margin-top: 50px;
}

.text__cat {
    text-align: right;
    margin-left: auto;
    max-width: 237px;
    width: 100%;
    font-size: 14px;
    color: white;
    padding: 10px 20px 10px 0 ;
}
.title-flex__cat {
    text-align: center;
    max-width: 61%;
    font-size: 30px;
    color: black;
    font-weight: 900;
    border: 1px solid green;
    border-radius: 50px;
}
@media screen and (max-width: 1000px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .title-flex__cat {
        order: 1;
    }
    .cat {
        order: 2;
    }
    .margin__p:nth-of-type(1n) {
        display: none;
    }
    .images {
        order: 4;
    }
    .margin__p:nth-of-type(2) {
        order: 5;
    }
    .margin__p:nth-of-type(3) {
        order: 6;
    }
    .container {
        max-width: 717px;
    }
    .images {
        float: none;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .title-flex__cat {
        max-width: 100%;
    }
    .margin__p:nth-of-type(1n) {
        margin: 20px 0;
        width: 100%;
    }
    .container__img {
        width: 49%;
    }
    .container__img:first-child {
        margin-bottom: 0;
        height: 90%;
    }
}
@media screen and (max-width: 600px) {
    .images {
        flex-direction: column;
    }
    .container__img {
        width: 100%;
    }
    .container__img:first-of-type {
        margin-bottom: 20px;
    }
    .text__cat {
        max-width: 400px;
    }
}
.window.active {
    display: none;
}
.window {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.window__content {
    max-width: 400px;
    width: 100%;
    background: white;
    border-radius: 15px;
    padding: 30px;
}
.modal__text:first-of-type {
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
}
.modal__btn {
    border: none;
    background: none;
    float: right;
    cursor: pointer;
    color: red;
}
#catImg {
    cursor: pointer;
}

.color-text {
    text-transform: uppercase;
    color: green;
}