body {
    margin: 0;
    padding: 0;
    background: lightgreen;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.grey {
    color: grey;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    background: turquoise;
}
/* Header */
.menu {
    display: flex;
    flex-direction: column;
}
.list {
    max-width: 96%;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);

}
.bnt {
    max-width: 96%;
    width: 100%;
    padding: 20px 0;
    align-self: flex-start;
    margin: 0 auto 20px;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}
/* List block */
.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    text-align: center;
}

.item {
    border-radius: 20px;
    padding: 0 10px;
    display: none;
    overflow:hidden;
    cursor: pointer;
}
.block__img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    background: white;
}
.item_text {
    /*justify-content: center;*/
    /*max-width: 100px;*/
    /*width: 100%;*/
    color: white;
}
.displayActive {
    display: block;
    /*justify-content: center;*/
}