body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.lol {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 40px;
    background-color: transparent;
    color: black;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.7s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}
/* Header */
.header {
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/wowwow.png");
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 3s;
}
.header.new-img {
    background-image: url("../img/777777777777.png");
    transition: 3s;
}
.grid__container {
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 500px;
    width: 100%;
}
.grid__container_item {
    border: 1px solid black;
}
#changeImg {
    position: absolute;
    left: 20px;
    top: 20px;

    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid black;

    font-weight: 700;
    transition: 1s;

    cursor: pointer;
}
#changeImg:hover {
    transition: 1s;
    color: greenyellow;
    border: 2px solid greenyellow;
}