body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5 h6 {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.grid__container {
    margin: 50px auto;
}
.btn {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 40px;
    background-color: transparent;
    color: black;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.7s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}
